body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #265AA1;
}

p {
  color: #000000;
}

/* Headings */
.big-heading {
  font-family: libre-franklin, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5em;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 3% 8%;
}

.header-container {
  padding: 2% 8%;
}

/* Sections */
.blue-section {
  padding: 5% 0;
  background-color: #ECF4FF;
  color: #000000;
}

.white-section {
  padding: 5% 0;
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
  color: #000000;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

.navbar-brand {
  font-family: libre-franklin, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.0rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

/* Search Bar */
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text {
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn-success {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-success:hover {
  color: #fff;
  background-color: #265AA1;
  border-color: #265AA1;
}

/* Images */
.img-fluid {
  max-width: 60%;
  height: auto;
}

/* Buttons */
.submit-button {
  margin: 5% 3% 5% 0;
}

/* Movie Title Grid*/
.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
  text-align: left;
}

.title-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 135.94%;
  /* or 82px */
  letter-spacing: 0.02em;
  color: #23242A;
  text-align: left;
}

.rating {
  border: 1px solid;
  border-top-color: initial;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: initial;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: initial;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: initial;
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 28px;
  line-height: 28px;
  margin: 2px 5px 2px 5px;
  max-height: 32px;
  padding-top: 1px;
  padding-right: 3px;
  padding-bottom: 1px;
  padding-left: 3px;
  transform: translateY(-1px);
  font-family: Roboto, arial, sans-serif;
  text-align: left;
}

.title-genre {
  display: inline-block;
  font-size: 28px;
}

.title-date {
  display: inline-block;
  font-size: 28px;
}

.title-plot {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 170%;
  /* or 37px */
  color: #000000;
}

.item3 {
  grid-area: status;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 110%;
  /* or 40px */
  letter-spacing: -0.02em;
  /* Black */
  color: #23242A;
  text-align: left;
  padding: 2% 20%;
}

.item4 {
  grid-area: search;
}

.item5 {
  grid-area: footer;
}

.item6 {
  grid-area: movie;
}

.item7 {
  grid-area: entry;
}

.item8 {
  grid-area: resources;
  align-items: center;
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header header header header'
    'status status status status search search search search search search'
    'movie movie movie movie menu menu menu menu menu menu'
    'movie movie movie movie menu menu menu menu menu menu'
    'movie movie movie movie menu menu menu menu menu menu'
    'movie movie movie movie menu menu menu menu menu menu'
    'entry entry entry entry entry entry entry entry entry entry'
    'resources resources resources resources resources resources resources resources resources resources'
    'footer footer footer footer footer footer footer footer footer footer';
  grid-gap: 20px;
}

.grid-container>div {
  /*text-align: center;*/
}
